:root {
    --theme-logo-icon: #fff;
    --theme-logo-text: #fff;
    --theme-logo-font: bold 0.75rem/2rem Lato, sans-serif;

    // Tabs
    --theme-tab-background: #6e6aa4;
    --theme-tab-side-background: #535171;
    --theme-tab-nested-background: #927a90;
    --theme-tab-nested-shadow: 0 0 0.125rem 0 black inset;
    --theme-tab-shadow: 0 0 0.125rem 0 black inset;
    --theme-tab-inactive-border: 0.05rem solid #ddd;
    --theme-tab-inactive-text: #666;
    --theme-tab-inactive-shadow: 0 0 0.1875rem 0 #464646;
    --theme-tab-inactive-background: white;
    --theme-tab-active-border: 0.05rem solid #ddd;
    --theme-tab-active-text: #46b1e4;
    --theme-tab-active-shadow: 0 0 0.1875rem 0 #464646;
    --theme-tab-active-background: #333;
    --theme-tab-active-accent: #46b1e4;

    // Toolbar buttons
    --theme-toolbar-color: white;
    --theme-toolbar-font: 800 0.75rem/2rem Lato, sans-serif;
    --theme-toolbar-background: #585858;
    --theme-toolbar-icon: #84c5e4;
    --theme-toolbar-hover-background: white;
    --theme-toolbar-hover-icon: #84c5e4;
    --theme-toolbar-inactive-shadow: none;
    --theme-toolbar-paused-shadow: none;
    --theme-toolbar-active-shadow-start: none;
    --theme-toolbar-active-shadow-end: none;
    --theme-toolbar-success-shadow: none;
    --theme-toolbar-failure-shadow: none;
    --theme-toolbar-outer-border-style: none solid solid solid;
    --theme-toolbar-outer-border-color: transparent #333 #333 #333;
    --theme-toolbar-outer-border-width: 0 0.0625rem 0.0625rem 0.0625rem;
    --theme-toolbar-inactive-border-style: none solid solid solid;
    --theme-toolbar-paused-border-style: none solid solid solid;
    --theme-toolbar-active-border-style-start: none solid solid solid;
    --theme-toolbar-active-border-style-end: none solid solid solid;
    --theme-toolbar-success-border-style: none solid solid solid;
    --theme-toolbar-failure-border-style: none solid solid solid;
    --theme-toolbar-inactive-border-color: transparent #333 #ddd #333;
    --theme-toolbar-paused-border-color: transparent #333 #a681e8 #333;
    --theme-toolbar-active-border-color-start: transparent #333 #9bcbea #333;
    --theme-toolbar-active-border-color-end: transparent #333 #46b1e4 #333;
    --theme-toolbar-success-border-color: transparent #333 #a5ea9b #333;
    --theme-toolbar-failure-border-color: transparent #333 #ea9b9b #333;
    --theme-toolbar-inactive-border-width: 0 0 0.25rem 0;
    --theme-toolbar-paused-border-width: 0 0 0.25rem 0;
    --theme-toolbar-active-border-width-start: 0 0 0.25rem 0;
    --theme-toolbar-active-border-width-end: 0 0 0.25rem 0;
    --theme-toolbar-success-border-width: 0 0 0.25rem 0;
    --theme-toolbar-failure-border-width: 0 0 0.25rem 0;

    // Buttons
    --theme-button-border: 0.0625rem solid #ccc;
    --theme-button-border-radius: 0.125rem;
    --theme-button-text: #333;
    --theme-button-background: linear-gradient(to bottom, hsl(190, 0%, 100%) 5%, hsl(190, 0%, 90%) 100%);
    --theme-button-shadow: inset 0 0 0.0625rem 0.0625rem hsl(190, 60%, 100%);

    --theme-button-active-text: #333;
    --theme-button-active-background: rgb(221, 221, 221);

    --theme-button-disabled-text: #aaa;
    --theme-button-disabled-background: rgb(221, 221, 221);
    --theme-button-disabled-shadow: inset 0 0 0.0625rem 0.0625rem hsl(190, 60%, 100%);

    --theme-button-hover-shadow: inset 0 0 0.0625rem 0.0625rem #d400ff;

    --theme-button-cancel-background: linear-gradient(to bottom, hsl(0, 0%, 100%) 5%, hsl(0, 0%, 90%) 100%);
    --theme-button-cancel-shadow: inset 0 0 0.0625rem 0.0625rem hsl(0, 60%, 100%);
    --theme-button-cancel-hover-shadow: inset 0 0 0.0625rem 0.0625rem hsl(0, 60%, 50%);
    --theme-button-cancel-active-background: linear-gradient(to bottom, hsl(0, 0%, 95%) 5%, hsl(0, 0%, 90%) 100%);

    // The text editor
    --theme-editor-background: url("../images/noisy-texture-200x200-o3-d21-c-242424-t0.png");
    --theme-editor-text: white;
    --theme-editor-font: 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    --theme-editor-icon: #232323;
    --theme-editor-tab-inactive-font: 400 0.7rem/1.0rem Lato, sans-serif;
    --theme-editor-tab-inactive-text: #666;
    --theme-editor-tab-inactive-border: 0.0625rem solid #ccc;
    --theme-editor-tab-inactive-shadow: none;
    --theme-editor-tab-inactive-background: white;
    --theme-editor-tab-inactive-icon: #666;
    --theme-editor-tab-active-font: 400 0.7rem/1.0rem Lato, sans-serif;
    --theme-editor-tab-active-text: #fff;
    --theme-editor-tab-active-border: 0.0625rem solid #ccc;
    --theme-editor-tab-active-shadow: none;
    --theme-editor-tab-active-background: var(--theme-file-pane-file-active-background);
    --theme-editor-tab-active-icon: #fff;
    --theme-editor-content-background: #fff;
    --theme-editor-content-font: 400 1rem Lato;
    --theme-editor-content-text: #333;
    --theme-editor-content-header-font: 800 1.5rem Lato;
    --theme-editor-content-header-text: #333;
    --theme-editor-content-subheader-font: 800 1rem Lato;
    --theme-editor-content-subheader-text: #333;

    // The output steps
    --theme-console-process-text: white;
    --theme-console-process-border: 0.0625rem dotted #71526e;
    --theme-console-process-arrow: #246e7e;
    --theme-console-step-text: white;
    --theme-console-step-arrow: #246e7e;
    --theme-console-output-background: #0e0e0e;
    --theme-console-output-text: #d4d4d4;

    // File listing
    --theme-file-pane-background: white;
    --theme-file-pane-shadow: 0 0 0.25rem -0.0625rem black inset;
    --theme-file-pane-inner-border: 0.0625rem solid #888;

    // File listing labels
    --theme-file-pane-label-font: bold 0.7rem/1.0rem Lato, sans-serif;

    // File listing dropdowns
    --theme-file-pane-select-background: #fff;
    --theme-file-pane-select-text: black;
    --theme-file-pane-select-font: 400 0.7rem/1.0rem Lato, sans-serif;
    --theme-file-pane-select-hover-background: #46b1e4;
    --theme-file-pane-select-hover-text: white;

    // File listing buttons
    --theme-file-pane-button-background: white;
    --theme-file-pane-button-text: #333;
    --theme-file-pane-button-active-background: #66d1ff;
    --theme-file-pane-button-active-text: #333
    --theme-file-pane-button-hover-background: #46b1e4;
    --theme-file-pane-button-hover-text: white;

    // File listing items
    --theme-file-pane-directory-text: #1e1e1e;
    --theme-file-pane-directory-icon: #46b1e4;
    --theme-file-pane-directory-arrow: #888;
    --theme-file-pane-directory-font: 0.75rem/0.75rem "Lato", sans-serif;
    --theme-file-pane-directory-static-text: #1e1e1e;
    --theme-file-pane-directory-static-icon: #aaa;
    --theme-file-pane-directory-static-arrow: #888;
    --theme-file-pane-directory-hover-text: #1e1e1e;
    --theme-file-pane-directory-hover-icon: #46b1e4;
    --theme-file-pane-directory-hover-arrow: #46b1e4;
    --theme-file-pane-file-text: #1e1e1e;
    --theme-file-pane-file-icon: #46b1e4;
    --theme-file-pane-file-font: 0.75rem/0.75rem "Lato", sans-serif;
    --theme-file-pane-file-active-background: #46b1e4;
    --theme-file-pane-file-active-text: white;
    --theme-file-pane-file-active-icon: white;
    --theme-file-pane-file-hover-background: red;
    --theme-file-pane-file-hover-text: #1e1e1e;
    --theme-file-pane-file-hover-icon: #46b1e4;
    --theme-file-pane-error: #ff9f9f;

    // Containers
    --theme-container-background: #211a21;
    --theme-container-icon: #1d141d;
    --theme-container-border: 0.3125rem solid #2d242d;

    // Terminals
    --theme-terminal-background: #2e3436;
    --theme-terminal-font: 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    --theme-terminal-border: 0.0625rem solid #1d141d;

    // Any panels
    --theme-panel-background: white;
    --theme-panel-icon: #dbccda;
    --theme-panel-shadow: 0 0 0.25rem -0.0625rem black inset;
    --theme-panel-label-font: 0.75rem/1.25rem 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    --theme-panel-label-text: #666;
    --theme-panel-data-font: 1rem/normal 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    --theme-panel-data-text: #333;
    --theme-panel-data-updated-text: #d243c6;
    --theme-panel-table-border: 0.0625rem solid #ddd;

    // Dialogs
    --theme-dialog-background: white;
    --theme-dialog-border: 0.0625rem solid black;
    --theme-dialog-shadow: 0 0 0.25rem 0.0625rem black;
    --theme-dialog-title-border: 0.0625rem solid black;
    --theme-dialog-title-font: 800 12pt/1.5rem Lato;
    --theme-dialog-close-border: 0.0625rem solid #cdcdcd;
    --theme-dialog-close-font: 800 1rem/2rem Lato;
    --theme-dialog-close-text: #333;
    --theme-dialog-close-background: white;
    --theme-dialog-close-hover-background: #46b1e4;
    --theme-dialog-close-hover-text: white;
    --theme-dialog-header-font: 800 1rem Lato;
    --theme-dialog-header-text: #333;

    // Documentation pages
    --theme-documentation-background: white;
    --theme-documentation-icon: #ae8bab;
    --theme-documentation-link: #46b1e4;
    --theme-documentation-font: 400 1rem Lato, serif;
    --theme-documentation-text: #333;
    --theme-documentation-header-background: #583155;
    --theme-documentation-header-text: white;
    --theme-documentation-header-border: 1px solid #865182;
    --theme-documentation-header-shadow: 0px 2px 4px -1px black inset;
    --theme-documentation-header-font: bold 2rem Lato, serif;
    --theme-documentation-subheader-text: #90628d;
    --theme-documentation-subheader-font: bold 1.5rem Lato, serif;
    --theme-documentation-subheader-border: 1px solid #dab9d7;
    --theme-documentation-subsubheader-text: #ad7faa;
    --theme-documentation-subsubheader-font: bold 1.2rem Lato, serif;
    --theme-documentation-subsubheader-border: none;
    --theme-documentation-code-font: 400 0.875rem 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    --theme-documentation-code-background: url('../images/noise_black.png');
    --theme-documentation-code-border: 1px solid #272822;
    --theme-documentation-keyword-instruction: #9260c3;
    --theme-documentation-keyword-file: #3b75bd;
    --theme-documentation-keyword-register: #da3d3d;
    --theme-documentation-table-header-text: #333;
    --theme-documentation-table-header-font: bold 1rem Lato, serif;
    --theme-documentation-table-header-border: 2px solid #d6d6d6;
    --theme-documentation-table-data-text: #333;
    --theme-documentation-table-data-font: 400 1rem Lato, serif;
    --theme-documentation-table-data-border: 1px dashed #ddd;
}
