/* Buttons. */
//
// This is a simple button.
//
// Markup
// <div><button class="button">Ok</button></div>
//
// Styleguide Components.button
.button {
    position: relative;
    display: inline-block;
    border: var(--theme-button-border);
    border-radius: var(--theme-button-border-radius);
    color: var(--theme-button-text);
    cursor: pointer;
    padding: 0.25rem 0.4rem;
    margin-top: 0.5rem;
    text-align: center;
    text-decoration: none;
    font: 800 0.75rem/1.0rem Lato, sans-serif;
    background: var(--theme-button-background);
    box-shadow: var(--theme-button-shadow);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */

    + .button {
        margin-left: 0.5rem;
    }

    svg,
    img {
        display: inline-block;
        height: calc(100% - 0.25rem);

        &.hover {
            display: none;
        }
    }

    &.inline {
        margin-top: 0;
    }

    &:hover {
        text-decoration: none;
        box-shadow: var(--theme-button-hover-shadow);

        img {
            display: none;
        }

        img.hover {
            display: inline-block;
        }
    }

    &:active {
        top: 0.0625rem;
        background: var(--theme-button-active-background);
        color: var(--theme-button-active-text);
    }

    &.disabled,
    &:disabled {
        color: var(--theme-button-disabled-text);
        background: var(--theme-button-disabled-background);
        cursor: default;
        box-shadow: var(--theme-button-disabled-shadow);

        &:active {
            position: relative;
            top: 0;
            color: var(--theme-button-disabled-text);
            background: var(--theme-button-active-background);
        }

        &:hover {
            box-shadow: var(--theme-button-disabled-shadow);
        }
    }

    /* "red" button colors */
    &.red {
        background: var(--theme-button-cancel-background);
        box-shadow: var(--theme-button-cancel-shadow);

        &:hover {
            box-shadow: var(--theme-button-cancel-hover-shadow);
        }

        &:active {
            background: var(--theme-button-cancel-active-background);
        }

        &.disabled,
        &:disabled {
            &:active {
                background: var(--theme-button-disabled-background);
                box-shadow: var(--theme-button-disabled-shadow);
            }

            &:hover {
                background: var(--theme-button-disabled-background);
                box-shadow: var(--theme-button-disabled-shadow);
            }
        }
    }
}
