span.key-binding-help {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font: 400 0.75rem Lato;
  background: #888;
  color: #fff;
  z-index: 99999999999999;
  margin: 0;
  padding: 0.125rem;
}

body.key-bindings-show {
  span.key-binding-help {
    display: inline-block;
  }
}
