/* The styling for the different tabular views (memory listing, etc) */
table.memory,
table.instructions,
table.labels {
  tr {
    th ,
    td {
      border-left: none;
      border-right: 0.0625rem solid #ddd;

      &:first-child {
        border-right: none;
      }
    }
  }
}
