/* The editor viewport pane has the file tabs and any open editors. */
.example-block,
.editor-viewport-pane {
  &:not(.example-block) {
    box-shadow: var(--theme-file-pane-shadow);
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    position: relative;
  }

  > ol.tabs.file-tabs {
    background: #fff;
    box-shadow: 0 0 0.25rem -0.0625rem black;
    flex: 0 0 1.25rem;
    left: 0.0625rem;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0.0625rem;
    width: calc(100% - 0.0625rem);

    &.example {
      // Make room for the open dropdown
      margin-bottom: 2rem;
    }

    li.tab.file-tab {
      background: var(--theme-editor-tab-inactive-background);
      border-right: var(--theme-editor-tab-inactive-border);
      box-shadow: var(--theme-editor-tab-inactive-shadow);
      color: var(--theme-editor-tab-inactive-text);
      display: inline-block;
      font: var(--theme-editor-tab-inactive-font);
      line-height: 1.25rem;
      position: relative;
      top: -0.0625rem;

      &.active {
        background: var(--theme-editor-tab-active-background);
        border-right: var(--theme-editor-tab-active-border);
        box-shadow: var(--theme-editor-tab-active-shadow);
        color: var(--theme-editor-tab-active-text);
        font: var(--theme-editor-tab-active-font);
        line-height: 1.25rem;

        button {
          > svg {
            fill: var(--theme-editor-tab-active-icon);
          }
        }
      }

      > button {
        background: none;
        border: none;
        box-shadow: none;
        color: inherit;
        cursor: pointer;
        font: inherit;
        margin: 0;
        padding: 0 0.25rem;
        padding-left: 0.125rem;

        > svg {
          width: 1rem;
          height: 1rem;
          position: relative;
          top: 0.125rem;
          margin-right: 0.125rem;
          vertical-align: top;
          fill: var(--theme-editor-tab-inactive-icon);
        }

        &.actions {
          padding: 0;

          &:hover {
          }

          svg {
            margin: 0;
          }

          span.caption {
            display: inline-block;
            height: 1px;
            overflow: hidden;
            text-indent: -9999px;
            width: 1px;
          }
        }
      }

      > ul.dropdown-menu {
        background: white;
        border: 0.0625rem solid #888;
        border-radius: 0.25rem;
        box-shadow: 0 0 0.125rem 0 #222;
        list-style: none;
        margin: 0;
        outline: 0;
        padding: 0;
        position: absolute;
        right: 0;
        z-index: 999;

        &::before {
          background: var(--theme-file-pane-select-background);
          box-shadow: 0 0 0.125rem 0 #222;
          content: '';
          display: block;
          height: 0.5rem;
          position: absolute;
          right: 0.25rem;
          top: -0.25rem;
          transform: rotate(45deg);
          width: 0.5rem;
        }

        > li {
          background: var(--theme-file-pane-select-background);
          margin: 0;
          padding: 0;

          &:first-child {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
          }

          &:last-child {
            border-bottom-left-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
          }

          > button {
            background: var(--theme-editor-tab-inactive-background);
            border: 0;
            color: var(--theme-editor-tab-inactive-text);
            cursor: pointer;
            margin: 0;
            padding: 0.25rem;
            position: relative;
            text-align: left;
            width: 100%;

            &:focus,
            &:hover:not([disabled]) {
              background: var(--theme-editor-tab-active-background);
              color: var(--theme-editor-tab-active-text);
              z-index: 1;
            }
          }
        }
      }
    }
  }

  > ol.file-tab-panels.tab-panels {
    box-shadow: 0 0 0.125rem 0 black inset;

    > li.file-tab-panel.tab-panel {
      background: #fff;
      box-shadow: 0 0 0.125rem 0 black inset;
      padding: 0;
      padding-top: 0.0625rem;

      .editor-content {
        background: var(--theme-editor-content-background);
        box-shadow: 0 0 0.125rem 0 black inset;
        box-sizing: border-box;
        color: var(--theme-editor-content-text);
        display: block;
        height: 100%;
        font: var(--theme-editor-content-font);
        max-height: 100%;
        overflow: auto;
        padding: 1rem;
        width: 100%;

        h2 {
          &:first-child {
            margin-top: 0;
          }

          color: var(--theme-editor-content-header-text);
          font: var(--theme-editor-content-header-font);
        }

        h3 {
          color: var(--theme-editor-content-subheader-text);
          font: var(--theme-editor-content-subheader-font);
        }
      }

      // The different possible editors that can be loaded into file tab-panels
      @import "editors/text-editor.scss";
      @import "editors/hex-editor.scss";
      @import "editors/elf-editor.scss";
    }
  }

  textarea, pre {
    background: var(--theme-editor-background);
    box-sizing: border-box;
    color: var(--theme-editor-text);
    flex: 1 1 100%;
    font-family: var(--theme-editor-font);
    margin: 0;
    overflow: hidden;
  }
}
