/* The project pane is the file listing. */
.file-list,
.project-pane {
  background: var(--theme-file-pane-background);
  box-shadow: var(--theme-file-pane-shadow);
  user-select: none;
  cursor: default;
  flex: 1 0 auto;
  margin-right: 0;
  width: 15rem;
  min-width: 12rem;

  &:not(.example) {
    overflow: auto;
  }

  .target-selection {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 0.25rem -0.0625rem black;
    width: calc(100% - 0.0625rem);
    background: #fff;
    position: relative;
    top: 0.0625rem;

    label {
      font: var(--theme-file-pane-label-font);
      flex: 1 0 auto;
      display: inline-block;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      height: 1.25rem;
      line-height: 1.25rem;
    }

    select,
    .select {
      background: var(--theme-file-pane-select-background);
      color: var(--theme-file-pane-select-text);
      font: var(--theme-file-pane-select-font);
      border: none;
      border-left: var(--theme-file-pane-inner-border);
      flex: 0 1 100%;
      display: inline-block;
      box-sizing: border-box;
      height: 1.25rem;
      cursor: pointer;

      &:not(:last-child) {
        border-right: var(--theme-file-pane-inner-border);
      }

      &:hover {
        background: var(--theme-file-pane-select-hover-background);
        color: var(--theme-file-pane-select-hover-text);
      }

      &:hover:focus {
        background: var(--theme-file-pane-select-background);
        color: var(--theme-file-pane-select-text);
      }

      option {
        cursor: pointer;
      }

      &::selection,
      option:hover {
        background: var(--theme-file-pane-select-hover-background);
        color: var(--theme-file-pane-select-hover-text);
      }
    }

    button {
      background: var(--theme-file-pane-button-background);
      color: var(--theme-file-pane-button-text);
      position: relative;
      width: 1.25rem;
      height: 1.25rem;
      line-height: 1.25rem;
      cursor: pointer;
      border: none;
      flex: 0 0 auto;

      img {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        top: 0.125rem;
        left: 0.125rem;
        position: absolute;

        &.active,
        &.hover {
          display: none;
        }
      }

      &:hover {
        background: var(--theme-file-pane-button-hover-background);
        color: var(--theme-file-pane-button-hover-text);

        img {
          display: none;

          &.hover {
            display: inline-block;
          }
        }
      }

      &:active {
        background: var(--theme-file-pane-button-active-background);
        color: var(--theme-file-pane-button-active-text);
      }
    }
  }

  ol {
    padding: 0.5rem;

    p.empty {
      color: #888;
      display: none;
      font: 400 0.7rem/1.0rem Lato, sans-serif;
      font-style: italic;
      margin: 0;
      margin-left: 1rem;
      padding: 0;
    }

    // Nested list
    ol {
      padding: 0.25rem 0.75rem;
      padding-right: 0;
    }

    // Directory/File
    li {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-bottom: 0.25rem;
      position: relative;

      &[disabled] {
        opacity: 0.5;
      }

      // Specifically, a directory
      &.directory {
        > span.info {
          padding-left: 0;

          &::before {
            content: '';
            border-left: 0.4rem solid var(--theme-file-pane-directory-arrow);
            border-top: 0.25rem solid transparent;
            border-bottom: 0.25rem solid transparent;
            height: 0;
            width: 0;
            display: inline-block;
            margin-right: 0.4rem;
            margin-left: 0.25rem;
            position: relative;
            top: 0.125rem;
            transition: 0.5s transform;
          }

          span {
            color: var(--theme-file-pane-directory-text);
            font: var(--theme-file-pane-directory-font);
          }

          > svg {
            fill: var(--theme-file-pane-directory-icon);
          }
        }

        &.built-in {
          > span.info::before {
            border-left: 0.4rem solid var(--theme-file-pane-directory-static-arrow);
          }

          > span.info {
            > svg {
              fill: var(--theme-file-pane-directory-static-icon);
            }
          }
        }

        > ol {
          display: none;
        }

        &.open {
          > span.info {
            &::before {
              transform: rotate(90deg);
            }
          }

          > ol {
            display: block;

            &:empty ~ p.empty {
              display: block;
            }
          }
        }

        &.active {
          > span.info::before {
            border-left-color: var(--theme-file-pane-file-active-icon);
          }
        }

        &:hover:not(.active) {
          > span.info::before {
            border-left: 0.4rem solid var(--theme-file-pane-directory-hover-arrow);
          }

          > span.info {
            > span {
              color: var(--theme-file-pane-directory-hover-text);
            }

            > svg {
              fill: var(--theme-file-pane-directory-hover-icon);
            }
          }

          > button.actions {
            border-color: #aaaaaa;

            > svg {
              fill: var(--theme-file-pane-directory-hover-icon);
            }
          }
        }
      }

      span.info {
        display: block;
        padding-bottom: 0.25rem;
        padding-left: 0.125rem;
        cursor: pointer;

        > button.object {
          display: none;
          font: var(--theme-file-pane-file-font);
          font-size: 0.6rem;
          width: 1rem;
          height: 1rem;
          line-height: 1rem;
          vertical-align: middle;
          margin: 0;
          margin-right: 0.25rem;
          padding: 0 0.2rem;
          box-sizing: border-box;
          background: var(--theme-file-pane-file-active-background);
          color: var(--theme-file-pane-file-active-text);
          border: 0.0625rem solid var(--theme-file-pane-file-active-text);
          border-radius: 0.25rem;
          cursor: pointer;

          &:hover {
            background: var(--theme-file-pane-file-active-text);
            color: var(--theme-file-pane-file-active-background);
          }
        }

        > svg {
          width: 0.875rem;
          height: 0.875rem;
          line-height: 1rem;
          margin-right: 0.25rem;
          vertical-align: middle;
          fill: var(--theme-file-pane-file-icon);
        }

        > .annotation {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          line-height: 1rem;
          vertical-align: middle;

          svg {
            width: 100%;
            height: 100%;
            display: block;
            fill: var(--theme-file-pane-error);
          }
        }

        > button.actions {
          cursor: pointer;
          position: absolute;
          right: 0.25rem;
          top: 0.25rem;
          background: none;
          border: 0.0625rem solid transparent;
          border-radius: 50%;
          width: 1rem;
          height: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          padding: 0;

          &:active {
            outline: none;
          }

          > svg {
            width: 100%;
            height: 100%;
            line-height: 0.75rem;
            fill: transparent;
          }
        }

        > ul.dropdown-menu {
          list-style: none;
          position: absolute;
          z-index: 999;
          padding: 0;
          margin: 0;
          right: 0;
          outline: 0;
          background: white;
          border: 0.0625rem solid #888;
          box-shadow: 0 0 0.125rem 0 #222;
          border-radius: 0.25rem;

          &::before {
            content: '';
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            position: absolute;
            top: -0.25rem;
            right: 0.475rem;
            background: var(--theme-file-pane-select-background);
            transform: rotate(45deg);
            box-shadow: 0 0 0.125rem 0 #222;
          }

          > li {
            padding: 0;
            margin: 0;
            background: var(--theme-file-pane-select-background);

            &:first-child {
              border-top-left-radius: 0.25rem;
              border-top-right-radius: 0.25rem;
            }

            &:last-child {
              border-bottom-left-radius: 0.25rem;
              border-bottom-right-radius: 0.25rem;
            }

            > button {
              width: 100%;
              text-align: left;
              background: none;
              border: 0;
              padding: 0.25rem;
              margin: 0;
              cursor: pointer;

              &:focus,
              &:hover:not([disabled]) {
                background: #46b1e4;
                color: white;
              }
            }
          }
        }

        span {
          color: var(--theme-file-pane-file-text);
          font: var(--theme-file-pane-file-font);
          width: 1rem;
          height: 1rem;
          line-height: 1rem;
          margin-right: 0.25rem;
          vertical-align: middle;
        }
      }

      > span.info:hover {
        > span {
          color: var(--theme-file-pane-file-hover-text);
        }

        > svg {
          fill: var(--theme-file-pane-file-hover-icon);
        }

        > button.actions {
          border-color: var(--theme-file-pane-file-hover-icon);

          > svg {
            fill: var(--theme-file-pane-file-hover-icon);
          }
        }
      }

      &.action {
        span.info {
          box-shadow: 0 0 0 0.125rem #a2dca2;
          border-radius: 1rem;
          text-align: center;
          position: relative;
          padding: 0;

          > button {
            display: block;
            padding-bottom: 0.125rem;
            padding-left: 1.1rem;
            background: none;
            border: none;
            outline: none;
            margin: 0;
            width: 100%;
          }

          &:hover {
            background-color: #a2dca2;
            color: white;

            > button {
              color: white;
            }
          }
        }

        &[data-action="new-project"] {
          span.info {
            &::before {
              content: '';
              position: absolute;
              width: 0.75rem;
              height: 0.75rem;
              border-radius: 50%;
              border: 0.125rem solid #a2dca2;
              left: 0.125rem;
              top: 0.125rem;
            }

            button {
              cursor: pointer;

              &::before {
                content: '';
                position: absolute;
                width: 0.125rem;
                height: 0.5rem;
                left: 0.5625rem;
                top: 0.375rem;
                background-color: #a2dca2;
              }

              &::after {
                content: '';
                position: absolute;
                width: 0.5rem;
                height: 0.125rem;
                left: 0.375rem;
                top: 0.5625rem;
                background-color: #a2dca2;
              }
            }

            &:hover {
              &::before {
                border-color: white;
              }

              &::after {
                border-color: white;
              }

              button {
                &::before {
                  background-color: white;
                }

                &::after {
                  background-color: white;
                }
              }
            }
          }
        }
      }

      &.active {
        > span.info {
          background: var(--theme-file-pane-file-active-background);
          color: var(--theme-file-pane-file-active-text);
          border-radius: 1rem;
          border-top-left-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;

          > button.object {
            display: inline-block;
          }

          > .annotation {
            svg {
              fill: var(--theme-file-pane-file-active-icon);
            }
          }

          > span {
            color: var(--theme-file-pane-file-active-text);
          }

          > svg {
            fill: var(--theme-file-pane-file-active-icon);
          }

          > button.actions {
            border-color: #ffffff;

            > svg {
              fill: var(--theme-file-pane-file-active-icon);
            }

            &:hover {
              background: var(--theme-file-pane-file-active-text);
              color: var(--theme-file-pane-file-active-background);

              > svg {
                fill: var(--theme-file-pane-file-active-background);
              }
            }
          }
        }
      }
    }
  }
}
