/* The console panel shows the output steps for a series of processes. */
.output-console {
  ol.output-processes {
    padding-left: 0;
    padding-right: 0.25rem;

    li.output-process {
      &::after {
        left: auto;
        right: 0.1875rem;
      }

      .status-symbol {
        left: auto;
        right: 0;

        .dot {
          left: auto;
          right: 0.25rem;
        }

        .dot + .dot {
          left: auto;
          right: 0.5rem;
        }

        .dot + .dot + .dot {
          left: auto;
          right: 0.75rem;
        }

        // Graphical icon for the status bubble
        svg {
          left: auto;
          right: -0.1875rem;
        }
      }

      > .status-symbol {
        left: auto;
        right: 0.1875rem;
      }

      h1.output-process-title {
        padding-left: 0.25rem;
        padding-right: 1.75rem;
        text-align: right;

        &::before {
          border-left: none;
          border-right: 0.4rem solid var(--theme-console-process-arrow);
          margin-left: 0.4rem;
          margin-right: auto;
        }

        span.filename {
          margin-left: auto;
          margin-right: 0.5rem;
        }

        &.expanded {
          &::before {
            transform: rotate(-90deg);
          }
        }
      }

      ol.output-process-steps {
        padding-left: 0;
        padding-right: 0.5rem;

        li.output-process-step {
          padding-left: 0;
          padding-right: 1.5rem;

          &::after {
            left: auto;
            right: 0;
          }

          h2.output-process-step-title {
            &::before {
              border-left: none;
              border-right: 0.4rem solid var(--theme-console-step-arrow);
              margin-left: 0.4rem;
              margin-right: auto;
            }

            &.expanded::before {
              transform: rotate(-90deg);
            }

            span.output-filename {
              margin-left: auto;
              margin-right: 0.5rem;
            }
          }
        }
      }

      pre.output-process-stdout {
        margin: 0.5rem;
        margin-right: 0.375rem;
      }
    }
  }
}
