template.process
  li.output-process data-status="pending"
    .status-symbol
      .dot
      .dot
      .dot
      svg.done
        use xlink:href="#{@basepath}images/symbol/ui.svg#done"
      svg.failed
        use xlink:href="#{@basepath}images/symbol/ui.svg#failed"
    h1.output-process-title.expanded
      span.description
      span.filename
    ol.output-process-steps
    pre.output-process-stdout
template.step
  li.output-process-step data-status="pending"
    .status-symbol
      .dot
      .dot
      .dot
      svg.done
        use xlink:href="#{@basepath}images/symbol/ui.svg#done"
      svg.failed
        use xlink:href="#{@basepath}images/symbol/ui.svg#failed"
    h2.output-process-step-title.expanded
      span.description
      span.output-filename
    pre.output-process-step-stdout

ol.output-processes
