== partial(:"dialogs/upload-files")

== partial(:"dialogs/float-explorer")

== partial(:"dialogs/new-file")

== partial(:"dialogs/copy-file")

== partial(:"dialogs/target-viewer")

== partial(:"dialogs/new-project")

== partial(:"dialogs/confirm")
