/ This contains links to static content that might be pulled dynamically.
link rel='rawrs-targets' href='#{@basepath}targets.json'

- [:en].each do |locale|
  link rel='rawrs-locale' href='#{@basepath}locales/#{locale}.json'

- targets.each do |target|
  - target = target[:tag]
  link rel='rawrs-target-examples' href='#{@basepath}files/#{target}.html'
