ol.toolbar class=(defined?(example) && example ? "example" : nil)
  span.caption aria-hidden=:true hidden=true
  li
    button#assemble title=I18n.t(:"tooltips.toolbar-buttons.assemble") tabindex=(defined?(example) ? '-1' : nil) data-keybinding="Control+Alt+B" data-title-i18n-key=:"tooltips.toolbar-buttons.assemble"
      svg.assemble role=:presentation
        use xlink:href="#{@basepath}images/symbol/toolbar.svg#assemble"
  li
    button#run title=I18n.t(:"tooltips.toolbar-buttons.run") tabindex=(defined?(example) ? '-1' : nil) data-keybinding="Control+Alt+P" data-title-i18n-key=:"tooltips.toolbar-buttons.run" data-i18n-default=:"tooltips.toolbar-buttons.run" data-i18n-active=:"tooltips.toolbar-buttons.stop" data-i18n-success=:"tooltips.toolbar-buttons.restart" data-i18n-paused=:"tooltips.toolbar-buttons.continue"
      svg.play role=:presentation
        use xlink:href="#{@basepath}images/symbol/toolbar.svg#play"
      svg.restart role=:presentation
        use xlink:href="#{@basepath}images/symbol/toolbar.svg#restart"
      svg.stop role=:presentation
        use xlink:href="#{@basepath}images/symbol/toolbar.svg#stop"
  li
    button#step disabled=true data-status="disabled" title=I18n.t(:"tooltips.toolbar-buttons.pause") data-i18n-active=:"tooltips.toolbar-buttons.step" data-i18n-default=:"tooltips.toolbar-buttons.pause" tabindex=(defined?(example) ? '-1' : nil) data-keybinding="Pause"
      svg.pause role=:presentation
        use xlink:href="#{@basepath}images/symbol/toolbar.svg#pause"
      svg.step role=:presentation
        use xlink:href="#{@basepath}images/symbol/toolbar.svg#step"
