template#dialog-copy-file
  dialog.dialog role=:dialog
    h1.title
      span.caption
        = I18n.t(:"dialogs.copy-files.caption")
      button.close
        = I18n.t(:"dialogs.common.close")
    .client
      h2
        = I18n.t(:"dialogs.copy-files.header")
      .file-list
        ol
          template.directory
            li.directory data-selectable=true
              span.info
                svg.group
                  use xlink:href="#{@basepath}images/symbol/ui.svg#group"
                span.name
              ol
              p.empty
                = I18n.t(:"dialogs.common.empty")
          template.file
            li.file disabled=true
              span.info
                svg.file.text
                  use xlink:href="#{@basepath}images/symbol/ui.svg#text"
                span.name
          li.directory.root data-selectable=true data-path=Base64.encode64("/") data-type=:directory
            span.info
              svg.group
                use xlink:href="#{@basepath}images/symbol/ui.svg#group"
              span.name
                = I18n.t(:"edit.files.my-projects")
            ol
      button.button#button-complete-copy disabled=true
        = I18n.t(:"dialogs.copy-files.copy")
      button.button.red#button-cancel-copy
        = I18n.t(:"dialogs.common.cancel")
