template#dialog-new-file
  dialog.dialog role=:dialog
    h1.title
      span.caption
        = I18n.t(:"dialogs.new-file.caption")
      button.close tabindex=99
        = I18n.t(:"dialogs.common.close")
    .client
      h2
        = I18n.t(:"dialogs.new-file.fields.name")
      form
        input#dialog-new-file-name type=:text name=:name tabindex=1 autofocus=true
        input.button#button-create-new-file tabindex=2 type=:submit value="Create"
        button.button.red#button-cancel-create tabindex=3
          = I18n.t(:"dialogs.common.cancel")
