/* The project pane is the file listing. */
.file-list,
.project-pane {
  .target-selection {
    select,
    .select {
      border-left: none;
      border-right: var(--theme-file-pane-inner-border);

      &:not(:last-child) {
        border-left: var(--theme-file-pane-inner-border);
      }
    }
  }

  ol {
    p.empty {
      margin-left: 0;
      margin-right: 1rem;
    }

    // Nested list
    ol {
      padding: 0.25rem 0.75rem;
      padding-left: 0;
    }

    // Directory/File
    li {
      // Specifically, a directory
      &.directory {
        > span.info {
          padding-right: 0;
          padding-left: 0;

          &::before {
            border-left: none;
            border-right: 0.4rem solid var(--theme-file-pane-directory-arrow);
            margin-left: 0.4rem;
            margin-right: 0.25rem;
          }
        }

        &.built-in {
          > span.info::before {
            border-right: 0.4rem solid var(--theme-file-pane-directory-static-arrow);
            border-left: none;
          }
        }

        &.open {
          > span.info {
            &::before {
              transform: rotate(-90deg);
            }
          }
        }

        &.active {
          > span.info::before {
            border-right-color: var(--theme-file-pane-file-active-icon);
          }
        }

        &:hover:not(.active) {
          > span.info::before {
            border-left: none;
            border-right: 0.4rem solid var(--theme-file-pane-directory-hover-arrow);
          }
        }
      }

      span.info {
        padding-left: 0;
        padding-right: 0.125rem;

        > button.object {
          margin: 0;
          margin-left: 0.25rem;
        }

        > svg {
          margin-left: 0.25rem;
          margin-right: 0;
        }

        > button.actions {
          right: auto;
          left: 0.25rem;
        }

        > ul.dropdown-menu {
          right: auto;
          left: 0;

          &::before {
            left: 0.475rem;
            right: auto;
          }
        }

        span {
          margin-left: 0.25rem;
          margin-right: 0;
        }
      }

      &.action {
        span.info {
          > button {
            padding-left: 0;
            padding-right: 1.1rem;
          }
        }

        &[data-action="new-project"] {
          span.info {
            &::before {
              left: auto;
              right: 0.125rem;
            }

            button {
              &::before {
                left: auto;
                right: 0.5625rem;
              }

              &::after {
                left: auto;
                right: 0.375rem;
              }
            }
          }
        }
      }

      &.active {
        > span.info {
          border-radius: 1rem;
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
        }
      }
    }
  }
}
