/* The Float Explorer dialog and widget. */
&#dialog-float-explorer {
  > .client {
    padding: 0;
  }

  ol.tab-panels {
    li.tab-panel.active {
      position: relative;
      padding: 0.5rem;
    }
  }

  table {
    border-spacing: 0.125rem;

    tbody {
      tr {
        td {
          font: 1rem/normal 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
          height: 1.25rem;
          padding: 0.125rem;

          label {
            position: relative;
            cursor: pointer;
            padding: 0.125rem;

            input {
              background: transparent;
              border: none;
              bottom: 0;
              cursor: pointer;
              display: inline-block;
              height: 100%;
              left: 0;
              opacity: 0;
              outline: none;
              position: absolute;
              right: 0;
              top: 0;
              width: 100%;

              & + span::after {
                content: '0';
              }

              &:checked {
                & + span::after {
                  content: '1';
                }
              }
            }
          }
        }

        &:first-child:last-child {
          td {
            border-top: 0.8125rem solid white;
            border-bottom: 0.8125rem solid white;
          }
        }
      }
    }
  }

  .sign {
    background-color: #ababd6;
    border-color: #ababd6;
  }

  .exponent {
    background-color: #ff9e9e;
    border-color: #ff9e9e;
  }

  .mantissa {
    background-color: #da9dda;
    border-color: #da9dda;
  }

  .legend {
    display: flex;
    flex-direction: row;

    .legend-item {
      flex: 1 1 33%;
      text-align: center;

      .box {
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 0.5rem;
      }

      span {
        font: 400 0.75rem Lato;
      }
    }
  }

  .calculation {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;

    span {
      background: transparent;
      margin-right: 0.5rem;
    }

    span.super {
      font-size: 0.75rem;
      position: relative;
      top: -0.5rem;
    }

    span.left,
    span.exponent,
    span.leading,
    span.bias,
    span.two {
      margin-right: 0;
    }

    span.minus {
      margin-left: 0.5rem;
    }

    span.sign,
    span.exponent,
    span.mantissa {
      color: black;
      border-bottom-width: 0.1875rem;
      border-bottom-style: double;
    }

    & + .normalization {
      display: block;
      font: 800 0.75rem Lato;
      text-align: center;

      .denormalized {
        font-style: italic;
      }
    }
  }

  input {
    box-sizing: border-box;
    font: 0.75rem/1.25rem 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    width: 100%;
  }

  p {
    display: block;
    font: 0.75rem/1.25rem 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
