/* The Upload Files dialog. */
&#dialog-upload-files {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  color: black;
  font-family: 'Lato', sans-serif;
  margin: auto;
  width: 35rem;
  min-width: 20rem;
  max-width: 100%;

  input#input-choose-files {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .upload-zone {
    margin: auto;
    max-width: 100%;
    min-width: 20rem;
    width: 100%;
    box-sizing: border-box;

    label.drop-area {
      background-color: #ffe9f0;
      display: inline-block;
      border: 0.125rem dotted black;
      cursor: pointer;
      margin: auto;
      padding: 0.5rem;
      max-width: 100%;
      min-width: 20rem;
      width: 100%;
      box-sizing: border-box;

      .drop-area-header {
        font-size: 2em;
        font-weight: 700;
        padding: 1.0rem;
        padding-top: 0;
      }

      .drop-area-caption {
        font-size: 1.1em;
        font-weight: 250;
      }
    }

    label.drop-preview-message {
      cursor: pointer;
      display: none;

      span.preview-message {
        color: blue;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    table.drop-preview-table {
      width: 100%;

      .drop-preview-header {
        font-weight: 700;

        .header-file-name {
          text-align: left;
        }

        .header-file-size {
          text-align: right;
        }
      }

      .drop-previews {
        .drop-preview {
          cursor: pointer;

          .file-name {
            text-align: left;
          }

          .file-size {
            text-align: right;
          }

          .drop-preview-remove-file {
            display: none;

            &:hover {
              display: inline;
            }
          }

          &:hover {
            background-color: #ffb6c1;
          }
        }
      }
    }
  }
}
