nav
  a.button.blah href="#{@basepath}/landing" role=:button tabindex="1" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
    == "About"
  a.button.blah href="#{@basepath}learn-more" role=:button tabindex="1" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
    == "Learn More"
  a.button.blah href="#{@basepath}education" role=:button tabindex="1" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
    == "For Education"
a.button.try-it-out href="#{@basepath}edit" role=:button tabindex="1" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');" target=:_blank
  == I18n.t(:"landing.started.try-it-out")
  == embed_svg("landing/cursor.svg")

a.header href="#{@basepath}landing"
  / Parallax scroll
  javascript:
    document.body.onscroll = () => {document.querySelector('a.header .bg').style.top = (32 + (window.scrollY / 2.0)) + 'px'}
  .bg style="background-image: url('#{@basepath}images/noisy-texture-200x200-o3-d21-c-242424-t0.png');"
    img.left src="#{@basepath}landing/header-code.png"
    .right
      - Dir["assets/landing/screen*.png"].sort.take(10).each do |path|
        img src="#{@basepath}landing/#{File.basename(path)}"
  .shadow
  .logo
    .logo-container
      .logo-border
      == embed_svg("images/logo_icon.svg", :viewBox => "0 0 255 255")

  h1
    span.acronym
      | RAWRS
    span.title
      == I18n.t(:title)
