doctype html
html lang="en-US"
  head
    == partial(:"landing/head")
  body
    .landing-content
      == partial(:"landing/header")

      h2
        span.title
          == I18n.t(:"landing.downloads.header")

      .content
        == render(:markdown, I18n.t(:"landing.downloads.content"), :layout => false)

        ul.links
          li.link
            a.button.learn-more href="#{@basepath}landing" role=:button tabindex="1" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.overview.header")
          li.link
            a.button.learn-more href="#{@basepath}learn-more" role=:button tabindex="2" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.features.learn-more")
          li.link
            a.button.education href="#{@basepath}education" role=:button tabindex="3" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.features.education")

        h3
          span.subtitle
            == I18n.t(:'landing.downloads.subheaders.static')

        ul.links
          li.link
            a.button.learn-more href="#{@basepath}landing/dist/rawrs-core.zip" role=:button tabindex="2" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.downloads.core")
          li.link
            a.button.education href="#{@basepath}landing/dist/rawrs-all.zip" role=:button tabindex="3" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.downloads.all")

        h3
          span.subtitle
            == I18n.t(:'landing.downloads.subheaders.portable')

        ul.links
          li.link
            a.button.learn-more href="#" role=:button tabindex="2" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              | Core (Windows)
          li.link
            a.button.education href="#{@basepath}landing/dist/rawrs-win32-x64.zip" role=:button tabindex="3" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              | Entire Package (Windows)

      h2
        span.title
          == I18n.t(:"landing.targets.header")

      .content
        == render(:markdown, I18n.t(:"landing.targets.content"), :layout => false)

        h3
          span.subtitle
            == I18n.t(:"landing.downloads.subheaders.modern")

        ul.links
          - tabIndex = 4
          - [:riscv64, :"riscv64-linux", :riscv32, :"riscv32-linux"].each do |tag|
            li.link
              a.button.target href="#{@basepath}landing/targets/#{tag}.zip" role=:button tabindex=tabIndex.to_s onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
                == I18n.t(:"landing.targets.#{tag}")
            - tabIndex += 1

        h3
          span.subtitle
            == I18n.t(:"landing.downloads.subheaders.historic")

        ul.links
          - tabIndex = 4
          - [:"x86-msdos"].each do |tag|
            li.link
              a.button.target href="#{@basepath}landing/targets/#{tag}.zip" role=:button tabindex=tabIndex.to_s onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
                == I18n.t(:"landing.targets.#{tag}")
            - tabIndex += 1

        h3
          span.subtitle
            == I18n.t(:"landing.downloads.subheaders.video-games")

        ul.links
          - [:"z80-gb", :"65816-snes"].each do |tag|
            li.link
              a.button.target href="#{@basepath}landing/targets/#{tag}.zip" role=:button tabindex=tabIndex.to_s onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
                == I18n.t(:"landing.targets.#{tag}")
            - tabIndex += 1

        /h3
          span.subtitle
            == I18n.t(:"landing.downloads.subheaders.esoteric")

        /ul.links
          - [:"uxn"].each do |tag|
            li.link
              a.button.target href="#" role=:button tabindex=tabIndex.to_s onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
                == I18n.t(:"landing.targets.#{tag}")
            - tabIndex += 1

      footer
        == render(:markdown, I18n.t(:"landing.footer", :locale => :en), :layout => false)
