doctype html
html lang="en-US"
  head
    == partial(:"landing/head")
  body
    .landing-content
      == partial(:"landing/header")

      h2
        span.title
          == I18n.t(:"landing.learn-more.header")

      .content
        == render(:markdown, I18n.t(:"landing.learn-more.content"), :layout => false)

        ul.links
          li.link
            a.button.try-it-out href="#{@basepath}edit" role=:button tabindex="1" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');" target=:_blank
              == I18n.t(:"landing.started.try-it-out")
          li.link
            a.button.downloads href="#{@basepath}downloads" role=:button tabindex="2" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.started.downloads")
          li.link
            a.button.education href="#{@basepath}education" role=:button tabindex="3" onclick="this.classList.add('clicked');" ontouchstart="this.classList.add('clicked');"
              == I18n.t(:"landing.features.education")

      footer
        == render(:markdown, I18n.t(:"landing.footer", :locale => :en), :layout => false)
