// The main top toolbar
ol.toolbar {
  height: 2rem;
  list-style: none;
  margin:  0;
  padding: 0;
  -webkit-app-region: no-drag;

  span.caption {
    color: var(--theme-toolbar-color);
    font: var(--theme-toolbar-font);
    height: 2rem;
    line-height: 2rem;
    margin-right: 0.5rem;

    &::after {
      content: '';
      display: inline-block;
      margin-left: 0.375rem;
      width: 0px;
      height: 0px;
      border-left: 0.375rem solid var(--theme-toolbar-color);
      border-top: 0.25rem solid transparent;
      border-bottom: 0.25rem solid transparent;
    }
  }

  &:not(.example) {
    position: absolute;
    right: 0;
    top: 0;
  }

  li {
    border-color: var(--theme-toolbar-outer-border-color);
    border-style: var(--theme-toolbar-outer-border-style);
    border-width: var(--theme-toolbar-outer-border-width);
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    line-height: 0;
    margin: 0;
    max-height: 100%;
    vertical-align: top;

    button {
      background: var(--theme-toolbar-background);
      border-color: var(--theme-toolbar-inactive-border-color);
      border-style: var(--theme-toolbar-inactive-border-style);
      border-width: var(--theme-toolbar-inactive-border-width);
      box-shadow: var(--theme-toolbar-inactive-shadow);
      cursor: pointer;
      height: 100%;
      max-height: 100%;
      outline: none;
      position: relative;
      vertical-align: top;
      width: 2rem;

      > svg {
        fill: var(--theme-toolbar-icon);
        height: 60%;
        left: 20%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 20%;
        width: 60%;
      }

      &#run {
        > svg.play {
          left: 22%;
        }

        > svg.stop {
          display: none;
        }

        > svg.restart {
          display: none;
        }

        &[data-status="active"] {
          > svg.play {
            display: none;
          }

          > svg.stop {
            display: inline-block;
          }

          > svg.restart {
            display: none;
          }
        }

        &[data-status="success"] {
          > svg.play {
            display: none;
          }

          > svg.stop {
            display: none;
          }

          > svg.restart {
            display: inline-block;
          }
        }
      }

      &#step {
        > svg.play {
          left: 22%;
        }

        > svg.step {
          display: none;
        }

        &[data-status="active"] {
          > svg.step {
            display: inline-block;
          }

          > svg.pause {
            display: none;
          }
        }
      }

      @keyframes pulse {
        0% {
          box-shadow: var(--theme-toolbar-active-shadow-start);
          border-color: var(--theme-toolbar-active-border-color-start);
          border-style: var(--theme-toolbar-active-border-style-start);
          border-width: var(--theme-toolbar-active-border-width-start);
        }
        100% {
          box-shadow: var(--theme-toolbar-active-shadow-end);
          border-color: var(--theme-toolbar-active-border-color-end);
          border-style: var(--theme-toolbar-active-border-style-end);
          border-width: var(--theme-toolbar-active-border-width-end);
        }
      }

      &[data-status="paused"] {
        box-shadow: var(--theme-toolbar-paused-shadow);
        border-color: var(--theme-toolbar-paused-border-color);
        border-style: var(--theme-toolbar-paused-border-style);
        border-width: var(--theme-toolbar-paused-border-width);
      }

      &[data-status="active"] {
        animation: 1s infinite alternate pulse;
      }

      &[data-status="success"] {
        box-shadow: var(--theme-toolbar-success-shadow);
        border-color: var(--theme-toolbar-success-border-color);
        border-style: var(--theme-toolbar-success-border-style);
        border-width: var(--theme-toolbar-success-border-width);
      }

      &[data-status="failure"] {
        box-shadow: var(--theme-toolbar-failure-shadow);
        border-color: var(--theme-toolbar-failure-border-color);
        border-style: var(--theme-toolbar-failure-border-style);
        border-width: var(--theme-toolbar-failure-border-width);
      }

      &[disabled] {
        cursor: default;
        opacity: 0.5;
      }

      &:hover:not([disabled]) {
        background: var(--theme-toolbar-hover-background);

        > svg {
          fill: var(--theme-toolbar-hover-icon);
        }
      }

      &:focus {
        outline: none;
      }
    }
  }
}
