.content.documentation,
body.documentation {
  overflow: auto;
  position: relative;
  background: var(--theme-documentation-background);

  > *:not(h1):not(h2):not(h3):last-child {
    padding-bottom: 2rem;
  }

  h1 {
    background: var(--theme-documentation-header-background);
    color: var(--theme-documentation-header-text);
    border-bottom: var(--theme-documentation-header-border);
    box-shadow: var(--theme-documentation-header-shadow);
    font: var(--theme-documentation-header-font);
    padding: 0;
    margin:  0;
    padding: 2rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      border-top: var(--theme-documentation-header-border);
      border-top-width: 3px;
      border-bottom: var(--theme-documentation-header-border);
      position: absolute;
      left: 0;
      right: 0;
      bottom: -7px;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      border-top: 1px solid var(--theme-documentation-header-text);
      border-bottom: var(--theme-documentation-header-border);
      position: absolute;
      left: 0;
      right: 0;
      bottom: -6px;
    }

    + .clear {
      background: transparent;
      box-shadow: 0 0 0.3125rem 0.25rem var(--theme-documentation-background);
      display: inline-block;
      width: 100%;
      height: 10px;
      margin: 0;
      margin-bottom: 1rem;
      padding: 0;
      position: sticky;
      top: -10px;
      z-index: 1;
    }
  }

  h2 {
    color: var(--theme-documentation-subheader-text);
    font: var(--theme-documentation-subheader-font);
    border-bottom: var(--theme-documentation-subheader-border);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.2rem;
    margin: 0 2rem;
    margin-bottom: 0.3rem;
  }

  *:not(h1) + h2 {
    margin-top: 2rem;
  }

  h3 {
    font: var(--theme-documentation-subsubheader-font);
    color: var(--theme-documentation-subsubheader-text);
  }

  h1, h2, h3 {
    a.permalink {
      opacity: 0.2;
      margin-left: 0.5rem;
      font-size: 0.75rem;

      &:hover {
        opacity: 1;
      }

      img,
      svg {
        width: 1rem;
        height: 1rem;
        fill: var(--theme-documentation-link)
      }
    }
  }

  > .example-block,
  > * {
    padding: 0.5rem 2rem;
    margin: 0;
  }

  svg,
  img {
    max-height: 50vh;
  }

  svg.dino {
    width: 20rem;
    max-width: 100%;
    fill: var(--theme-documentation-icon);
  }

  > .highlight {
    margin: 0;
    padding: 0;
    background: none;
  }

  pre {
    outline: var(--theme-documentation-code-border);
    border-top: 1px solid var(--theme-documentation-background);
    border-bottom: 1px solid var(--theme-documentation-background);
    background: var(--theme-documentation-code-background);
    font: var(--theme-documentation-code-font);
    box-sizing: border-box;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;

    // Style overrides
    &.highlight .c1 {
      color: #a8c8d8; //#bb91b8;
    }

    &.highlight .nl {
      color: #a6e22e;
    }
  }

  code.instruction {
    color: var(--theme-documentation-keyword-instruction);
  }

  code.file {
    color: var(--theme-documentation-keyword-file);
  }

  code.register {
    color: var(--theme-documentation-keyword-register);
  }

  ul {
    margin-left: 2rem;
    li {
      padding: 0.2rem 0.5rem;
    }

    &.items {
      p {
        display: inline-block;
        margin: 0;

        &:first-child::after {
          content: ' - ';
        }
      }

      ul.authors {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          padding: 0;

          &:not(:last-child)::after {
            content: ',';
            margin-right: 0.5rem;
          }

          span:not(:last-child)::after {
            content: ',';
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  a {
    color: var(--theme-documentation-link);
  }

  li,
  p {
    font: var(--theme-documentation-font);
    color: var(--theme-documentation-text);

    em {
      font-style: italic;
    }

    strong {
      font-weight: bold;
    }

    &.image {
      text-align: center;
    }
  }

  table {
    border-collapse: collapse;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.2rem;
    margin: 0 2rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;

    th {
      font: var(--theme-documentation-table-header-font);
      border-bottom: var(--theme-documentation-table-header-border);
      color: var(--theme-documentation-table-header-text);
      border-bottom-width: 2px;
      text-align: left;
      position: relative;
      padding-right: 0.5rem;

      &::after {
        border-bottom: var(--theme-documentation-table-header-border);
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4px;
        height: 0px;
        border-bottom-width: 1px;
      }
    }

    tbody tr:first-child td {
      padding-top: 0.5rem;
    }

    td {
      font: var(--theme-documentation-table-data-font);
      color: var(--theme-documentation-table-data-text);
      white-space: nowrap;
      padding: 0.4rem;

      &:last-child {
        width: 100%;
        white-space: normal;
      }

      p {
        margin: 0.125rem;
        padding: 0;
      }
    }

    tr:not(:last-child) {
      td {
        border-bottom: var(--theme-documentation-table-data-border);
      }
    }

    tr:last-child {
      td {
        border-bottom: var(--theme-documentation-table-header-border);
      }
    }
  }

  // Special case for syscalls/ecalls/etc
  .syscalls-table {
    & ~ table {
      td:nth-of-type(2) {
        font-weight: bold;
      }
    }
  }
}

html[dir="rtl"] {
  h1, h2, h3 {
    a.permalink {
      margin-left: auto;
      margin-right: 0.5rem;
    }
  }
}
