:root {
  --theme-landing-top-bg-color: #abacfd;
  --theme-landing-logo-bg-color: #c84ea9;
  --theme-landing-logo-fg-color: white;
  --theme-landing-logo-mg-color: #842f6f;
  --theme-landing-logo-bg-color-2: #5c5dca;
  --theme-landing-logo-fg-color-2: #f1efff;
  --theme-landing-accent-bg-color: #fb64d5;
  --theme-landing-accent-fg-color: white;

  --theme-landing-bg-color-1: #9f3a86;
  --theme-landing-bg-color-1: #842f6f;
  --theme-landing-fg-color-1: white;
  --theme-landing-accent-bg-color-1: #fb64d5;
  --theme-landing-accent-fg-color-1: white;
  --theme-landing-header-color-1: #ffc1ed;

  --theme-landing-bg-color-2: #efefef;
  --theme-landing-fg-color-2: #555;
  --theme-landing-accent-bg-color-2: #46b1e4;
  --theme-landing-accent-fg-color-2: white;
  --theme-landing-header-color-2: #6263e0;

  --landing-full-width: 50rem;

  // "Tooth" wave adapter from http://jsfiddle.net/861gjx0b/2/
  --landing-tooth: 3rem;
}

/* 4k support */
@media (min-width: 2561px) {
    /* If we did our job, this is all we need to scale everything! */
    body, html {
        font-size: 24px;
    }
}

@media (max-device-width: 950px) {
    body, html {
        font-size: 36px;
    }
}

html {
  margin: 0;
  padding: 0;
  width: 100%;

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: var(--theme-landing-logo-bg-color);
    position: relative;

    .landing-content {
      nav {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        padding: 0.25rem;
        position: absolute;
        top: 0;
        z-index: 999999;

        a.button {
          text-decoration: none;
          border: 0.125rem solid white;
          border-radius: 0.125rem;
          background: none;
          color: white;
          cursor: pointer;
          padding: 0.5rem;
          font: bold 1.0rem/1.0rem Tahoma, Arial, Verdana, Helvetica, sans-serif;
          vertical-align: middle;
          text-align: center;
          line-height: 1rem;
          color: var(--theme-landing-header-color-2);
          display: inline-block;
          border-color: var(--theme-landing-header-color-2);

          &.clicked,
          &:active,
          &:focus,
          &:hover {
            background-color: var(--theme-landing-accent-bg-color-2);
            color: var(--theme-landing-accent-fg-color-2);
            border-color: var(--theme-landing-fg-color-2);
            text-shadow: 0 0 0.25rem var(--theme-landing-fg-color-2);
            box-shadow: inset 0 0 0.125rem var(--theme-landing-bg-color-2);
          }
        }
      }

      > a.button.try-it-out {
        position: fixed;
        z-index: 999999999;
        top: 0.25rem;
        right: 2rem;
        width: 13rem;
        height: 2.5rem;
        border: 0.125rem solid white;
        border-radius: 0.125rem;
        background: none;
        color: white;
        cursor: pointer;
        font: bold 1.25rem/1.25rem Tahoma, Arial, Verdana, Helvetica, sans-serif;
        vertical-align: middle;
        text-align: center;
        line-height: 2.5rem;
        text-decoration: none;
        box-shadow: 0 0 0.25rem 0 var(--theme-landing-logo-mg-color);
        background-color: var(--theme-landing-logo-bg-color);

        &.clicked,
        &:active,
        &:focus,
        &:hover {
          background-color: var(--theme-landing-accent-bg-color);
          color: var(--theme-landing-accent-fg-color);
          text-shadow: 0 0 0.25rem var(--theme-landing-logo-mg-color);
          box-shadow: inset 0 0 0.125rem var(--theme-landing-logo-bg-color);
        }

        svg {
          position: absolute;
          top: 2rem;
          right: 0.5rem;
          width: 1.25rem;
          height: 1.75rem;
          filter: drop-shadow(0 0 0.125rem var(--theme-landing-logo-mg-color));
          
          rect, circle, path {
            fill: white !important;
          }
        }
      }

      > a.header {
        background-color: var(--theme-landing-top-bg-color);
        display: block;
        padding-top: 7.75rem;
        padding-bottom: 2rem;
        position: relative;
        text-decoration: none;

        .bg {
          position: absolute;
          top: 2rem;
          left: 0;
          right: 0;
          bottom: -2rem;
          margin-top: 0;

          .left {
            position: absolute;
            left: 0;
            top: 0;
            width: 25%;
            filter: saturate(0.5) grayscale(0.25);
            min-width: 15rem;
            max-width: 25rem;
          }

          .right {
            position: absolute;
            right: 0;
            top: 0;
            width: 45%;
            filter: saturate(0.5) grayscale(0.25);
            min-width: 15rem;
            max-width: 30rem;
            opacity: 0.1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.125rem;

            @media (max-device-width: 950px), (max-width: 950px) {
              grid-template-columns: repeat(1, 1fr);
            }

            @media (max-device-width: 700px), (max-width: 700px) {
            }

            img {
              width: 100%;
            }
          }
        }

        .shadow {
          background: transparent;
          box-shadow: inset 0 0 20rem 0.5rem black;
          position: absolute;
          top: 2rem;
          left: 0;
          right: 0;
          bottom: 0;
        }

        &::before {
          content: "";
          display: block;
          height: var(--landing-tooth);
          bottom: calc((#{var(--landing-tooth)} * -0.875) + 0.0625rem);
          position: absolute;
          top: 2rem;
          left: 0;
          right: 0;
          background: linear-gradient( 45deg, transparent 33.333%, var(--theme-landing-top-bg-color) 33.333%, var(--theme-landing-top-bg-color) 66.667%, transparent 66.667%), linear-gradient( -45deg, transparent 33.333%, var(--theme-landing-top-bg-color) 33.333%, var(--theme-landing-top-bg-color) 66.667%, transparent 66.667%), transparent;

          background-size: var(--landing-tooth) calc(#{var(--landing-tooth)} * 2);
          /* toothSize doubleHeight */

          background-position: 0 calc(#{var(--landing-tooth)} * -1);
          /* horizontalOffset -height */

          z-index: 9;
        }

        .logo {
          max-width: 60rem;
          padding: 2rem;
          position: relative;
          margin-left: auto;
          margin-right: auto;
          color: var(--theme-landing-logo-fg-color);

          .logo-container {
            display: block;
            position: relative;
            height: 15rem;

            .logo-border {
              border-radius: 50%;
              width: 13rem;
              height: 13rem;
              border: 1rem solid var(--theme-landing-logo-fg-color);
              position: absolute;
              left: calc(50% - 17.5rem);
              top: -0.5rem;
              clip-path: polygon(20% 31%, 0% 22%, 26% 1%, 28% 20%, 44% 13%, 33% 0%, 63% 0%, 56% 11%, 74% 18%, 70% 0%, 100% 0%, 100% 31.58%, 79.26% 31.58%, 79.26% 69.25%, 100% 69.25%, 100% 100%, 0% 100%, 0% 33%, 13% 49%);
            }

            svg {
              position: absolute;
              width: 14rem;
              height: 14rem;
              left: calc(50% - 18.875rem);
              top: -1.875rem;
              transform: rotate(10deg);
              z-index: 9;
              display: inline-block;
              filter: drop-shadow(0 0 0.125rem var(--theme-landing-logo-mg-color));

              rect, circle, path {
                fill: var(--theme-landing-logo-bg-color-2) !important;
                stroke: var(--theme-landing-logo-fg-color-2) !important;
                stroke-width: 0.125rem !important;
              }
            }
          }
        }
      }

      @media (max-device-width: 950px), (max-width: 950px) {
        > a.button.try-it-out {
          height: 2rem;
          line-height: 2rem;
          font-size: 1.0rem;
          width: 11rem;

          svg {
            top: 1.375rem;
            right: 0.25rem;
          }
        }

        > a.header {
          .logo {
            .logo-container {
              height: 10rem;

              .logo-border {
                width: 10rem;
                height: 10rem;
                border-width: 0.75rem;
                left: calc(50% - 11.5rem);
              }

              svg {
                width: 11rem;
                height: 11rem;
                left: calc(50% - 12.75rem);
                top: -1.75rem;
              }
            }
          }
        }
      }

      @media (max-device-width: 630px), (max-width: 630px) {
        > a.button.try-it-out {
          width: 6rem;
          right: 2rem;
          right: 1.25rem;
          font-size: 0.875rem;
        }

        > a.header {
          .logo {
            padding-top: 2rem;

            .logo-container {
              height: 5rem;

              .logo-border {
                width: 7rem;
                height: 7rem;
                border-width: 0.5rem;
                left: calc(50% - 7.5rem);
              }

              svg {
                width: 7.5rem;
                height: 7.5rem;
                left: calc(50% - 8.25rem);
                top: -1.25rem;
              }
            }
          }
        }
      }

      h1 {
        text-align: center;
        font: bold 2.0rem/2.0rem Tahoma, Arial, Verdana, Helvetica, sans-serif;
        position: relative;
        margin: 0;
        margin-top: -13rem;

        span.acronym {
          color: var(--theme-landing-logo-mg-color);
          margin-left: 12rem;
          display: inline-block;
          font-size: 6rem;
          height: 6rem;
          line-height: 5.75rem;
          position: relative;
          text-shadow: 0 0 0.25rem var(--theme-landing-logo-mg-color);
          -webkit-text-stroke: 0.125rem #fff;
        }

        span.title {
          display: block;
          margin-top: 6rem;
          padding-bottom: 1rem;
          color: var(--theme-landing-logo-fg-color);
          padding-left: 1rem;
          padding-right: 1rem;
          text-shadow: 0 0 0.25rem var(--theme-landing-logo-mg-color);
        }

        &::after {
          content: "";
          display: block;
          height: var(--landing-tooth);
          bottom: calc((#{var(--landing-tooth)} * -0.875) + 0.0625rem);
          left: 0;
          right: 0;
          background: linear-gradient(45deg, var(--theme-landing-bg-color-2) 33.333%, #91658600 33.333%, #6b175500 66.667%, transparent 66.667%), linear-gradient(-45deg, var(--theme-landing-bg-color-2) 33.333%, #e30cac00 33.333%, #f701b900 66.667%, transparent 66.667%), #ffffff00;
          position: relative;
          top: 3rem;

          background-size: var(--landing-tooth) calc(#{var(--landing-tooth)} * 2);
          /* toothSize doubleHeight */

          background-position: 0 calc(#{var(--landing-tooth)} * -1);
          /* horizontalOffset -height */

          z-index: 9;
        }

        @media (max-device-width: 950px), (max-width: 950px) {
          margin-top: -9rem;
          font-size: 1.5rem;
          line-height: 1.5rem;

          span.acronym {
            margin-left: 10rem;
            display: inline-block;
            font-size: 4rem;
            height: 4rem;
            line-height: 3.75rem;
            position: relative;
            -webkit-text-stroke: 0.0625rem #fff;
            top: 0.25rem;
          }

          span.title {
            margin-top: 5.5rem;
          }
        }

        @media (max-device-width: 630px), (max-width: 630px) {
          margin-top: -4.5rem;
          font-size: 1.5rem;
          line-height: 1.5rem;

          span.acronym {
            margin-left: 8.5rem;
            display: inline-block;
            font-size: 3rem;
            height: 3rem;
            line-height: 2.75rem;
            vertical-align: middle;
            position: relative;
            -webkit-text-stroke: 0.0625rem #fff;
            top: -0.4375rem;
          }

          span.title {
            margin-top: 3rem;
            padding-bottom: 0;
            z-index: 99;
            position: relative;
            line-height: 2rem;
          }
        }
      }

      h2 {
        box-sizing: border-box;
        background: white;
        padding: 2rem;
        padding-bottom: 0;
        margin: 0;
        font: bold 2.0rem/2.0rem Tahoma, Arial, Verdana, Helvetica, sans-serif;
        background: var(--theme-landing-bg-color-2);
        color: var(--theme-landing-header-color-2);
        position: relative;

        @media (max-device-width: 700px), (max-width: 700px) {
          position: sticky;
          top: 0;
          left: 0;
          z-index: 999;
        }

        span.title {
          padding-bottom: 0.5rem;
          border-bottom: 0.125rem dotted var(--theme-landing-fg-color-2);
          max-width: 100%;
          width: var(--landing-full-width);
          padding-left: 0;
          padding-right: 0;
          margin-left: auto;
          margin-right: auto;
          display: block;
        }

        & + p {
          padding-top: 2rem;
        }

        &:nth-of-type(2n) {
          background: var(--theme-landing-bg-color-1);
          color: var(--theme-landing-header-color-1);

          span.title {
            border-bottom-color: var(--theme-landing-fg-color-1);
          }
        }
      }

      h3 {
        box-sizing: border-box;
        padding: 2rem;
        padding-top: 4rem;
        padding-bottom: 0;
        margin: 0;
        font: bold 1.5rem/1.5rem Tahoma, Arial, Verdana, Helvetica, sans-serif;
        color: var(--theme-landing-header-color-2);
        position: relative;

        span.subtitle {
          padding-bottom: 0.5rem;
          border-bottom: 0.125rem dotted var(--theme-landing-fg-color-2);
          max-width: 100%;
          width: var(--landing-full-width);
          padding-left: 0;
          padding-right: 0;
          margin-left: auto;
          margin-right: auto;
          display: block;
        }

        & + p {
          padding-top: 2rem;
        }
      }

      .content {
        position: relative;
        margin: 0;
        padding: 0;
        display: block;
        background: var(--theme-landing-bg-color-2);
        box-sizing: border-box;
        color: var(--theme-landing-fg-color-2);
        font: 400 1.25rem/1.5rem Arial, Verdana, Helvetica, sans-serif;

        .caption,
        p {
          box-sizing: content-box;
          position: relative;
          z-index: 99;
          max-width: calc(100% - 4rem);
          width: var(--landing-full-width);
          padding: 0;
          padding-top: 1rem;
          margin: 0;
          padding-left: 1rem;
          margin-left: auto;
          margin-right: auto;
          padding-left: 2rem;
          padding-right: 2rem;

          & + p {
            padding-top: 1.125rem;
          }

          strong {
            color: var(--theme-landing-header-color-2);
            font: 800 1.25rem/1.5rem Calibri, Arial, Verdana, Helvetica sans-serif;
          }

          a {
            color: var(--theme-landing-header-color-2);
            font: 800 1.25rem/1.5rem Calibri, Arial, Verdana, Helvetica sans-serif;

            &:visited {
              color: var(--theme-landing-header-color-2);
            }
          }

          & + .image {
            margin-top: 1rem;
          }
        }

        .image {
          width: 100%;
          text-align: center;
          box-sizing: border-box;

          img {
            border: 0.25rem double var(--theme-landing-fg-color-2);
            box-sizing: border-box;
            max-width: 30rem;
            position: relative;
            top: 0.125rem;
          }
        }

        ul {
          box-sizing: border-box;
          position: relative;
          z-index: 99;
          display: block;
          max-width: 100%;
          width: var(--landing-full-width);
          padding: 0;
          padding-top: 2rem;
          padding-left: 1rem;
          margin: 0;
          margin-left: auto;
          margin-right: auto;

          li {
            margin-left: 2rem;
            padding-left: 1rem;

            & + li {
              margin-top: 1rem;
            }
          }

          @media (max-device-width: 700px), (max-width: 700px) {
            padding-left: 2rem;
            padding-right: 2rem;

            li {
              padding-left: 0;
              margin-left: 1.25rem;
            }
          }
        }

        ul.links {
          box-sizing: content-box;
          list-style: none;
          padding-top: 1rem;
          padding-left: 2rem;
          padding-right: 2rem;
          max-width: calc(100% - 4rem);

          @media (max-device-width: 700px), (max-width: 700px) {
            padding-left: 2rem;
            padding-right: 0;
          }

          li.link {
            padding: 0;
            margin: 0;
            display: inline-block;
            line-height: 4.5rem;

            a.button {
              text-decoration: none;
              border: 0.125rem solid white;
              border-radius: 0.125rem;
              background: none;
              color: white;
              cursor: pointer;
              padding: 1rem;
              font: bold 1.0rem/1.0rem Tahoma, Arial, Verdana, Helvetica, sans-serif;
              vertical-align: middle;
              text-align: center;
              line-height: 1rem;
              color: var(--theme-landing-header-color-2);
              display: inline-block;
              border-color: var(--theme-landing-header-color-2);

              &.clicked,
              &:active,
              &:focus,
              &:hover {
                background-color: var(--theme-landing-accent-bg-color-2);
                color: var(--theme-landing-accent-fg-color-2);
                border-color: var(--theme-landing-fg-color-2);
                text-shadow: 0 0 0.25rem var(--theme-landing-fg-color-2);
                box-shadow: inset 0 0 0.125rem var(--theme-landing-bg-color-2);
              }
            }

            @media (max-device-width: 700px), (max-width: 700px) {
              display: block;
              box-sizing: border-box;
              max-width: 100%;
              width: 100%;
              padding-left: 0;
              padding-right: 2rem;

              a.button {
                box-sizing: border-box;
                max-width: 100%;
                width: 100%;
              }
            }

            &:not(:last-child) {
              margin-right: 1rem;
            }
          }

          & + ul.links {
            border-top: 0.125rem dotted var(--theme-landing-fg-color-2);
            padding-top: 0.625rem;
            margin-top: 1rem;
          }
        }

        ul.screenshots {
          list-style: none;

          li.screenshot {
            margin: 0;
            padding: 0;
            display: inline-block;
            display: flex;
            flex-direction: row;
            width: 100%;

            &:not(:last-child) {
              padding-bottom: 1rem;
              border-bottom: 0.125rem dotted var(--theme-landing-fg-color-2);
              margin-bottom: 1rem;
            }

            @media (max-device-width: 700px), (max-width: 700px) {
              display: block;
            }

            .image {
              flex: 0 0 auto;
              width: 50%;
              text-align: center;

              @media (max-device-width: 700px), (max-width: 700px) {
                width: 100%;
              }

              img {
                position: relative;
                top: 0.125rem;
                border: 0.25rem double var(--theme-landing-fg-color-2);
                width: 100%;
              }
            }

            > .caption,
            > p {
              display: block;
              flex: 1 1 auto;
              padding: 1rem;
              padding-right: 2rem;
              border-left: 0.125rem dotted var(--theme-landing-fg-color-2);
              margin-left: 1rem;
              text-align: center;
              max-width: 100%;

              @media (max-device-width: 700px), (max-width: 700px) {
                width: calc(100% - 4rem);
                margin-left: 0;
                border: none;
              }

              @media (max-device-width: 700px), (max-width: 700px) {
                padding-left: 2rem;
                padding-right: 2rem;
              }

              > ul,
              > p {
                margin: 0;
                display: block;
                width: 100%;
                max-width: 100%;
                padding: 0;

                @media (max-device-width: 700px), (max-width: 700px) {
                  padding-left: 2rem;
                  padding-right: 2rem;
                }
              }

              > ul.links {
                padding-left: 1rem;
                padding-right: 0;

                li.link {
                  padding-right: 1rem;
                }
              }
            }
          }
        }

        &::after {
          content: "";
          display: block;
          height: var(--landing-tooth);
          bottom: calc((#{var(--landing-tooth)} * -0.875) + 0.0625rem);
          left: 0;
          right: 0;
          background: linear-gradient( 45deg, transparent 33.333%, var(--theme-landing-bg-color-2) 33.333%, var(--theme-landing-bg-color-2) 66.667%, transparent 66.667%), linear-gradient( -45deg, transparent 33.333%, var(--theme-landing-bg-color-2) 33.333%, var(--theme-landing-bg-color-2) 66.667%, transparent 66.667%), var(--theme-landing-bg-color-1);

          background-size: var(--landing-tooth) calc(#{var(--landing-tooth)} * 2);
          /* toothSize doubleHeight */

          background-position: 0 calc(#{var(--landing-tooth)} * -1);
          /* horizontalOffset -height */

          z-index: 9;
        }

        &:last-of-type::after {
          background: linear-gradient( 45deg, transparent 33.333%, var(--theme-landing-bg-color-2) 33.333%, var(--theme-landing-bg-color-2) 66.667%, transparent 66.667%), linear-gradient( -45deg, transparent 33.333%, var(--theme-landing-bg-color-2) 33.333%, var(--theme-landing-bg-color-2) 66.667%, transparent 66.667%), var(--theme-landing-logo-bg-color);

          background-size: var(--landing-tooth) calc(#{var(--landing-tooth)} * 2);
          /* toothSize doubleHeight */

          background-position: 0 calc(#{var(--landing-tooth)} * -1);
        }

        &:nth-of-type(2n) {
          background: var(--theme-landing-bg-color-1);
          color: var(--theme-landing-fg-color-1);

          h3 {
            color: var(--theme-landing-header-color-1);

            span.subtitle {
              border-bottom-color: var(--theme-landing-fg-color-1);
            }
          }

          p strong {
            color: var(--theme-landing-header-color-1);
          }

          p a {
            color: var(--theme-landing-header-color-1);

            &:visited {
              color: var(--theme-landing-header-color-1);
            }
          }

          ul.links {
            & + ul.links {
              border-color: var(--theme-landing-fg-color-1);
            }

            li.link a.button {
              color: var(--theme-landing-header-color-1);
              border-color: var(--theme-landing-header-color-1);

              &.clicked,
              &:active,
              &:focus,
              &:hover {
                background-color: var(--theme-landing-accent-bg-color-1);
                color: var(--theme-landing-accent-fg-color-1);
                text-shadow: 0 0 0.25rem var(--theme-landing-bg-color-1);
                box-shadow: inset 0 0 0.125rem var(--theme-landing-bg-color-1);
              }
            }
          }

          ul.screenshots {
            li.screenshot {
              border-bottom-color: var(--theme-landing-fg-color-1);

              img {
                width: calc(100% - 1.5rem);
                border-color: var(--theme-landing-fg-color-1);
              }

              p {
                border-left-color: var(--theme-landing-fg-color-1);
              }
            }
          }

          &::after {
            background: linear-gradient( 45deg, transparent 33.333%, var(--theme-landing-bg-color-1) 33.333%, var(--theme-landing-bg-color-1) 66.667%, transparent 66.667%), linear-gradient( -45deg, transparent 33.333%, var(--theme-landing-bg-color-1) 33.333%, var(--theme-landing-bg-color-1) 66.667%, transparent 66.667%), var(--theme-landing-bg-color-2);

            background-size: var(--landing-tooth) calc(#{var(--landing-tooth)} * 2);
            /* toothSize doubleHeight */

            background-position: 0 calc(#{var(--landing-tooth)} * -1);
          }

          &:last-of-type::after {
            background: linear-gradient( 45deg, transparent 33.333%, var(--theme-landing-bg-color-1) 33.333%, var(--theme-landing-bg-color-1) 66.667%, transparent 66.667%), linear-gradient( -45deg, transparent 33.333%, var(--theme-landing-bg-color-1) 33.333%, var(--theme-landing-bg-color-1) 66.667%, transparent 66.667%), var(--theme-landing-logo-bg-color);

            background-size: var(--landing-tooth) calc(#{var(--landing-tooth)} * 2);
            /* toothSize doubleHeight */

            background-position: 0 calc(#{var(--landing-tooth)} * -1);
          }
        }
      }

      footer {
        padding: 0;
        margin: 0;
        color: var(--theme-landing-logo-fg-color);
        font: 400 1.0rem/1.375rem Tahoma, Arial, Verdana, Helvetica, sans-serif;
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;

        a {
          color: var(--theme-landing-logo-fg-color);
        }
      }
    }
  }
}
