.register-file data-separator=:"register-separator,label-separator"
  ol.tabs
  ol.tab-panels

  / The tab for a category of registers
  / The RegisterListing component will clone this for each category
  template.register-tab
    li.tab
      button aria-controls=:"register-file" data-i18n-key=:"run.registers.tab"
        = I18n.t(:"run.registers.tab")

  / The tab panel for a category of registers
  / The RegisterListing component will clone this for each category
  template.register-tab-panel
    li.tab-panel style="padding-top: 0;"
      / The actual register table for this category
      table.registers
        tbody

  / The field for an integer register
  / The RegisterListing will add this `tr` for each register
  template.int-register
    tr.register
      td.name
      td.value
        button
      td.edit hidden=true
        input.input type=:text

  / The field for a floating-point register
  / The RegisterListing will add this `tr` for each register
  template.fp-register
    tr.register
      td.name
      td.type
        | x
      td.value
        button
      td.edit hidden=true
        input.input type=:text
      td.actions
        button.actions
          svg
            use xlink:href="#{@basepath}images/symbol/ui.svg#actions"
        /- id = "fp-register-#{register_name}-actions"
        ul.dropdown-menu role=:menu aria-hidden="true" hidden=true
          li.dropdown-menu-option
            button.action disabled=true data-action=:"as-hex" role=:menuitem data-i18n-key=:"run.registers.actions.view-as-hex"
              = I18n.t(:"run.registers.actions.view-as-hex")
          li.dropdown-menu-option
            button.action data-action=:"as-float" role=:menuitem data-i18n-key=:"run.registers.actions.view-as-f32"
              = I18n.t(:"run.registers.actions.view-as-f32")
          li.dropdown-menu-option
            button.action data-action=:"as-double" role=:menuitem data-i18n-key=:"run.registers.actions.view-as-f64"
              = I18n.t(:"run.registers.actions.view-as-f64")
          li.dropdown-menu-option
            button.action data-action=:explore role=:menuitem data-i18n-key=:"run.registers.actions.explore-data"
              = I18n.t(:"run.registers.actions.explore-data")
