.top data-separator=:"bottom-separator"
  div.run-panels.container
    svg.background.tracks
      defs
        pattern#outer-tracks x="0" y="0" width="150" height="150" patternUnits="userSpaceOnUse"
          use xlink:href="#{@basepath}images/symbol/ui.svg#tracks" width="150" height="150"
      rect width="100%" height="100%" fill="url(#outer-tracks)"
    template.output-tab
      li.tab
        button aria-controls=:"console"
          span.caption data-i18n-key=:"run.panels.serial"
            = I18n.t(:"run.panels.serial")

    template.output-panel
      li.tab-panel
        div.output-container
          svg.background.tracks
            defs
              pattern#inner-tracks x="0" y="0" width="150" height="150" patternUnits="userSpaceOnUse"
                use xlink:href="#{@basepath}images/symbol/ui.svg#tracks" width="150" height="150"
            rect width="100%" height="100%" fill="url(#inner-tracks)"
          div.output
          div.disconnected hidden=true
            img src="#{@basepath}images/disconnected.svg"

    / The output panel tab strip
    ol.tabs.side

    / The output panels
    ol.tab-panels.side
      li.tab-panel.empty.active
        div.output-container

  .separator.vertical#register-separator

  / The register file
  == partial(:"run/register-file")

.separator.horizontal#bottom-separator

.bottom
  .left
    ol.tabs
      li.tab
        button aria-controls=:"run-console-panel" data-i18n-key=:"console.tab"
          = I18n.t(:"console.tab")
      li.tab.active
        button aria-controls=:"machine-code-panel" data-i18n-key=:"run.machine-code.tab"
          = I18n.t(:"run.machine-code.tab")
      li.tab
        button aria-controls=:"memory-panel" data-i18n-key=:"run.memory.tab"
          = I18n.t(:"run.memory.tab")
    ol.tab-panels
      li.tab-panel.output-console#run-console-panel
      li.tab-panel.active#machine-code-panel
        table.instructions.empty
          thead
            th
              span hidden=true aria-hidden="false" data-i18n-key=:"run.machine-code.headers.breakpoint"
                = I18n.t(:"run.machine-code.headers.breakpoint")
            th data-i18n-key=:"run.machine-code.headers.address"
              = I18n.t(:"run.machine-code.headers.address")
            th data-i18n-key=:"run.machine-code.headers.code"
              = I18n.t(:"run.machine-code.headers.code")
            th data-i18n-key=:"run.machine-code.headers.disassembly"
              = I18n.t(:"run.machine-code.headers.disassembly")
            th data-i18n-key=:"run.machine-code.headers.file"
              = I18n.t(:"run.machine-code.headers.file")
            th data-i18n-key=:"run.machine-code.headers.line"
              = I18n.t(:"run.machine-code.headers.line")
            th data-i18n-key=:"run.machine-code.headers.source"
              = I18n.t(:"run.machine-code.headers.source")
          tbody

        svg.waiting
          use xlink:href="#{@basepath}images/symbol/dinosaurs.svg#velociraptor"
      li.tab-panel#memory-panel
        table.memory.empty
          thead
            th data-i18n-key=:"run.memory.headers.address"
              = I18n.t(:"run.memory.headers.address")
            th
              span data-i18n-key=:"run.memory.headers.value"
                = I18n.t(:"run.memory.headers.value")
              span
                | (+0)
            th
              span data-i18n-key=:"run.memory.headers.value"
                = I18n.t(:"run.memory.headers.value")
              span
                | (+4)
            th
              span data-i18n-key=:"run.memory.headers.value"
                = I18n.t(:"run.memory.headers.value")
              span
                | (+8)
            th
              span data-i18n-key=:"run.memory.headers.value"
                = I18n.t(:"run.memory.headers.value")
              span
                | (+12)
            th
              span data-i18n-key=:"run.memory.headers.value"
                = I18n.t(:"run.memory.headers.value")
              span
                | (+16)
            th
              span data-i18n-key=:"run.memory.headers.value"
                = I18n.t(:"run.memory.headers.value")
              span
                | (+20)
            th
              span data-i18n-key=:"run.memory.headers.value"
                = I18n.t(:"run.memory.headers.value")
              span
                | (+24)
            th
              span data-i18n-key=:"run.memory.headers.value"
                = I18n.t(:"run.memory.headers.value")
              span
                | (+28)
            th data-i18n-key=:"run.memory.headers.printed"
              = I18n.t(:"run.memory.headers.printed")
          tbody

        svg.waiting
          use xlink:href="#{@basepath}images/symbol/dinosaurs.svg#tyrannosaurus"

  .separator.vertical#label-separator

  .right data-separator=:"register-separator,label-separator"
    ol.tabs
      li.tab.active
        button aria-controls=:"labels-panel" data-i18n-key=:"run.labels.tab"
          = I18n.t(:"run.labels.tab")
    ol.tab-panels
      li.tab-panel.active#labels-panel
        table.labels.empty
          thead
            th data-i18n-key=:"run.labels.headers.name"
              = I18n.t(:"run.labels.headers.name")
            th data-i18n-key=:"run.labels.headers.address"
              = I18n.t(:"run.labels.headers.address")
          tbody

        svg.waiting
          use xlink:href="#{@basepath}images/symbol/dinosaurs.svg#elasmosaurus"
