.target-selection
  label data-i18n-key=:"edit.target"
    = I18n.t(:"edit.target")
  select.target-selector
  /button.details
    svg
      use xlink:href="#{@basepath}images/symbol/ui.svg#details"
ol
  svg.annotation-error hidden=true
    use xlink:href="#{@basepath}images/symbol/ui.svg#error"
  template.directory
    li.directory
      span.info
        svg.group
          use xlink:href="#{@basepath}images/symbol/ui.svg#group"
        span.name
        input.rename-file type=:text value="new-file" style="display:none;"
        button.actions
          svg
            use xlink:href="#{@basepath}images/symbol/ui.svg#actions"
        ul.dropdown-menu role=:menu aria-hidden="true" hidden=true
          li.dropdown-menu-option
            button.action data-action=:newfile role=:menuitem data-i18n-key=:"edit.files.actions.new-file"
              = I18n.t(:"edit.files.actions.new-file")
          li.dropdown-menu-option
            button.action data-action=:rename role=:menuitem data-i18n-key=:"edit.files.actions.rename"
              = I18n.t(:"edit.files.actions.rename")
          li.dropdown-menu-option
            button.action data-action=:clone role=:menuitem data-i18n-key=:"edit.files.actions.copy"
              = I18n.t(:"edit.files.actions.copy")
          li.dropdown-menu-option
            button.action data-action=:delete role=:menuitem data-i18n-key=:"edit.files.actions.delete"
              = I18n.t(:"edit.files.actions.delete")
          li.dropdown-menu-option
            button.action data-action=:downloadzip role=:menuitem data-i18n-key=:"edit.files.actions.download-zip"
              = I18n.t(:"edit.files.actions.download-zip")
          li.dropdown-menu-option
            button.action data-action=:upload role=:menuitem data-i18n-key=:"edit.files.actions.upload-files"
              = I18n.t(:"edit.files.actions.upload-files")
      ol
      p.empty data-i18n-key=:"edit.files.empty"
        = I18n.t(:"edit.files.empty")
  template.file
    li.file data-selectable=true
      span.info
        svg.file.text
          use xlink:href="#{@basepath}images/symbol/ui.svg#text"
        span.name
        button.object hidden=true
          | .o
        input.rename-file type=:text value="new-file" style="display:none;"
        button.actions
          svg
            use xlink:href="#{@basepath}images/symbol/ui.svg#actions"
        ul.dropdown-menu role=:menu aria-hidden="true" hidden=true
          li.dropdown-menu-option
            button.action data-action=:rename role=:menuitem data-i18n-key=:"edit.files.actions.rename"
              = I18n.t(:"edit.files.actions.rename")
          li.dropdown-menu-option
            button.action data-action=:clone role=:menuitem data-i18n-key=:"edit.files.actions.copy"
              = I18n.t(:"edit.files.actions.copy")
          li.dropdown-menu-option
            button.action data-action=:delete role=:menuitem data-i18n-key=:"edit.files.actions.delete"
              = I18n.t(:"edit.files.actions.delete")
          li.dropdown-menu-option
            button.action data-action=:download role=:menuitem data-i18n-key=:"edit.files.actions.download"
              = I18n.t(:"edit.files.actions.download")
  -# Render all files in assets/files
  li.directory.root data-path=Base64.encode64("/").strip data-type=:directory
    span.info
      svg.group
        use xlink:href="#{@basepath}images/symbol/ui.svg#group"
      span.name data-i18n-key=:"edit.files.my-projects"
        = I18n.t(:"edit.files.my-projects")
    ol
      li.action data-action=:"new-project"
        span.info
          button
            span.name data-i18n-key=:"edit.files.actions.new-project"
              = I18n.t(:"edit.files.actions.new-project")
      li.directory.new hidden=true
        span.info
          svg.group
            use xlink:href="#{@basepath}images/symbol/ui.svg#group"
          input type=:text value="my-project"
