/* The Run Panel: This contains the simulation and any viewing widgets for the runtime. */
#run-panel {
  .top {
    flex: 0 1 481px;
    height: 481px;
  }

  .top {
    @import "register-file.scss";
  }

  .bottom {
    @import "tables.scss";
  }
}
