/* The styling for the different tabular views (memory listing, etc) */
table.memory,
table.instructions,
table.labels {
  position: absolute;
  top: 0.15rem;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: content-box;
  overflow: auto;
  height: 100%;
  display: block;
  box-shadow: 0 0 0.25rem -0.0625rem black inset;
  border-collapse: collapse;

  tr {
    &:hover td {
      background: #f2f9ff;
    }

    th ,
    td {
      font-family: 'inconsolata', monospace, courier,fixed, swiss, sans-serif;
      font-size: 15px;
      font-weight: normal;
      font-variant-ligatures: none;
      border-top: 0.0625rem solid #ddd;
      border-left: 0.0625rem solid #ddd;
      padding: 0.25rem;

      &:first-child {
        border-left: none;
      }

      &.breakpoint.checked {
        &,
        & ~ td {
          background: #ddd0db;
        }
      }
    }

    &.highlighted td ,
    &.highlighted td.breakpoint.checked ,
    &.highlighted td.breakpoint.checked ~ td {
      background: #ffff65;
    }

    // For pseudo-ops, this makes sure the the source lines appear to span
    // multiple rows. (unless the row or the previous row are highlighted)
    &:not(.highlighted) + tr:not(.highlighted) td:empty {
      border-top: none;
    }

    td.machine-code,
    td.address,
    td.row {
      text-align: right;
    }

    td.code {
      width: 50%;
    }

    td.address,
    td.ascii {
      width: 1%;
      white-space: pre;

      button {
        white-space: pre;
        font-family: 'inconsolata', monospace, courier,fixed, swiss, sans-serif;
        cursor: pointer;
        margin: 0;
        padding: 0;
        border: none;
        background: none;

        &:hover {
          background: #d3f2ff;
          color: magenta;
        }
      }
    }

    td.word {
      direction: ltr;
      text-align: center;

      span.highlighted {
        color: magenta;
      }
    }

    td.original {
      width: 50%;
    }

    th {
      font: bold 0.9rem Lato, sans-serif;
      border-bottom: 0.0625rem solid #333;
      text-align: center;
    }

    &:first-child {
      td {
        border-top: none;
      }
    }

    &:last-child {
      td {
        border-bottom: 0.0625rem solid #ddd;
      }
    }
  }

  & + svg {
    box-sizing: content-box;
    display: none;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    fill: var(--theme-panel-icon);
  }

  &.empty {
    display: none;

    & + svg {
      display: block;
      box-shadow: 0 0 0.125rem 0rem black inset;
    }
  }
}
