/* The text editor. */

/* Overrides for the Ace Editor */
.ace_scroller {
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  background-image: var(--theme-editor-background);
}

.ace-monokai .ace_gutter,
.ace_gutter {
  background-color: #333;
}

.ace-monokai .ace_gutter-active-line,
.ace_gutter-active-line {
  background-color: #46b1e4;
  color: white;
}

.ace-monokai .ace_marker-layer .ace_selection,
.ace_marker-layer .ace_selection {
  background: #253846;
}

.ace_tooltip {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  white-space: pre-wrap;
  max-width: 25rem;

  code {
    color: #9260c3;
    font-family: 'inconsolata', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    margin: 0;
    padding: 0;
  }
}
